@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@500&display=swap');

body {
	margin: 0;
	overflow: hidden;
}
.landing {
    display: flex;
    flex-direction: column;
    position: absolute;
    /*border: 1px solid black;*/
    align-items: center;
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
li {
	list-style: none;
}

		/*background- slider on landing page*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url('img/img-six.jpg') 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url('img/img-two.jpg');
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url('img/img-three.jpg');
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url('img/img-four.jpg');
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url('img/img-five.jpg');
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url('img/img-one.jpg');
    animation-delay: 30s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.landing-header {
	/*border: 1px solid black;*/
	position: absolute;
	font-family: 'Manrope', sans-serif;
	font-size: 4em;
	letter-spacing: 16px;
	text-transform: uppercase;
	bottom: 37vh;
}

		/*Landing Page Title Fade in*/
.landing-header {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

		/*Landing Page Scroll Fade in(4s later completed)*/
/*.scroll, #scroll-pls-animation {
   animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}*/

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.scroll {
	position: absolute;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: bold;
	border-style: none;
	font-family: inherit;
	font-family: 'Manrope', sans-serif;
	letter-spacing: 2px;
	opacity: 0;
	margin-top:;
}
		/*Animation that is under .scroll : moving bar from left to right, infinite, overflow hidden*/
#scroll-pls-animation {
	bottom: 6.5vh;
	width: 75px;
	height: 2px;
	position: absolute;
	overflow: hidden;
}

#scroll-pls-animation:before {
	display: block;
	position: absolute;
	content:"";
	left:-200px;
	width:75px;
	height: 2px;
	background-color: #1A1A1A;
	animation: loading 1.5s linear infinite;
	animation-delay: 1.5s;
}
@keyframes loading {
	0%{
		left: -200px;
	}
	50% {
		width: 30%;
	}
	70% {
		width: 70%;
	}
	80% {
		left: 50%;
	}
	95% {
		left: 120%;
	}
	to {
		left: 100%;
	}

}

		/* Fly in from bottom for .scroll and #scroll-pls-animation*/

.scroll {
    animation: bottomToTopScroll 0.5s linear;
    animation-delay: 2s;
    animation-fill-mode: both;

  }

@keyframes bottomToTopScroll {
  0% {
    bottom: -50px;
    opacity: 1;
  }
  25% {
  	bottom: 0px;
  	opacity: 1;
  }
  50% {
    bottom: 3vh;
    opacity: 1;
  }
  100% {
    bottom: 6vh;
    opacity: 1;
  }
}

#scroll-pls-animation {
	animation: bottomToTopScrollAnimation 0.5s linear;
    animation-delay: 2s;
    animation-fill-mode: both;

}

@keyframes bottomToTopScrollAnimation {
  0% {
    bottom: -50px;
    opacity: 1;
  }
  25% {
  	bottom: 1vh;
  	opacity: 1;
  }
  50% {
    bottom: 3vh;
    opacity: 1;
  }
  100% {
    bottom: 5vh;
    opacity: 1;
  }
}

.landing a {
	text-decoration: none;
}

.landing a:visited {
	color: #1A1A1A;
}





