@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@500&display=swap');

body {
	margin:0;
}

.topbar {
	position: fixed;
	display: flex;
	top: 0px;
	width: 100%;
	min-height: 30px;
	max-height: 50px;
	justify-content: center;
	align-items: center;
	font-family: 'Manrope', sans-serif;
	background-color: #fff;

}

h1 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: #1A1A1A;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


a {
	text-decoration: none;
}

a:visited {
	color: #1A1A1A;
}

/*navbar-icon style*/
.navbar-icon {
	position: fixed;
	
	left: 35px;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
  color: #1A1A1A;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px) ;
  transform: rotate(-45deg) translate(-3x, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -6px) ;
  transform: rotate(45deg) translate(-3px, -6px) ;
}

/* navbar styling*/

.navbar {
	position: fixed;
	top: 45px;
	left: 0px;
	height: 100vh;
	width: 60%;
	background-color: #fff;
	max-width: 200px;
	min-width: 50px;
	transition-delay: 0.4s;
	transform: translateX(-150%);
	transition: transform 0.5s ease-out;
}
.navbar.visible {
		transform: translateX(0);
}
.navbar li, ul {
	padding-top: 0px;
	margin-top: 0px;
	text-decoration: none;
	list-style: none;
}
.navbar li {
	color: #1A1A1A;
	font-family: 'Manrope', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px;
	letter-spacing: 4px;
	margin-left: 30px;
}
.navbar ul {
	display: contents;
}

.main-content {
	background:url('img/img-two.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	font-size: 100px;
}