@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@500&display=swap');

body {
	margin: 0;
}

.landing {
	position: relative;
    display: flex;
    justify-content: center;
    background-image: url("img/img-four.jpg");	
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

.landing p {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	border-style: none;
	font-family: inherit;
	font-family: 'Manrope', sans-serif;
	bottom: 5vh;
}

.landing a {
	text-decoration: none;
}

.landing a:visited {
	color: #1A1A1A;
}
