@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@500&display=swap');

body {
}

.topbar {

	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #1A1A1A;
	font-family: 'Manrope', sans-serif;
}

.topbar, .navbar{
	opacity: ;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: #1A1A1A;
}

a {
	text-decoration: none;
}

a:visited {
	color: #1A1A1A;
}

.navbar-icon {
	position: fixed;
	top: 20px;
	left: 35px;
 	display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
  color: #1A1A1A;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px) ;
  transform: rotate(-45deg) translate(-3x, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -6px) ;
  transform: rotate(45deg) translate(-3px, -6px) ;
}